@model List<MovieData>

<table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>
                <a href="google.com">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Pug_portrait.jpg/220px-Pug_portrait.jpg"
                    style="width: 200px; height: 250px; margin: 10px;"></img>
                </a>
            </td>
            <td>
                <a href="google.com">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Pug_portrait.jpg/220px-Pug_portrait.jpg"
                    style="width: 200px; height: 250px; margin: 10px;"></img>
                </a>
            </td>
            <td>
                <a href="google.com">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Pug_portrait.jpg/220px-Pug_portrait.jpg"
                    style="width: 200px; height: 250px; margin: 10px;"></img>
                </a>
            </td>
            <td>
                <a href="google.com">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Pug_portrait.jpg/220px-Pug_portrait.jpg"
                    style="width: 200px; height: 250px; margin: 10px;"></img>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="google.com">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Pug_portrait.jpg/220px-Pug_portrait.jpg"
                    style="width: 200px; height: 250px; margin: 10px;"></img>
                </a>
            </td>
            <td>
                <a href="google.com">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Pug_portrait.jpg/220px-Pug_portrait.jpg"
                    style="width: 200px; height: 250px; margin: 10px;"></img>
                </a>
            </td>
        </tr>
</table>

<script>

</script>



